body{
    margin: 0;
    padding: 0;
    background-color: #edf1f5;
}
.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background : linear-gradient(to left, #6E1A52, #EC5252);
    background : -moz-linear-gradient(left, #6E1A52, #EC5252);
    background : -webkit-linear-gradient(left, #6E1A52, #EC5252);
    background : -o-linear-gradient(left, #6E1A52, #EC5252);
    
}
.header .header_logo{
    width: 250px;
    height: 60px;
}
.header .header_logo img{
    width: 150px;
}
.header_search{
    width: 100%;
    height: 60px;display: flex;
    flex-direction: row;
}
.header_search form{
    width: 85%;
}

.search_bar{
    border-radius: 200px;
}
.header_search_user {
    width: 200px;
    display: flex;
    flex-direction: row;
}
.header_search_user:hover{
    background-color: #77a2bb;
    cursor: pointer;
}
.header_search_user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.header_search_name{
    color: aliceblue;
    font-weight: 700;
    line-height: 60px;   
}
/* CONTENT */
.content{
    background-color: white;
    margin-top: -10px;
}
.content_title{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: 60px;
}
.content_title h3{
    line-height: 60px;
    padding-left: 5px;
    width: 90%;
}
.content_title .btn_addnew{
    width: 10% !important;
    height: 40px !important;
    margin-top: 10px !important;
    border-radius: 5px !important;
    border: solid 1px rgb(131, 128, 128) !important;
    background-color: #eae8dc !important;
    color: black !important;
    font-size: 15px !important;
}
.content_title .btn_addnew:hover{
    background-color: black !important;
    color: #eae8dc !important;
    transition: all 0.3s !important;
}
.modalbody_product{
    display: flex;
    flex-direction: row;
}
.modalbody_product_img{
    width: 40%;
    height: 100%;
    position: relative;
}
.modalbody_product_img img{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    position: absolute;
    top: 50px;
    left: 40px;
}